@page "/account/register"

<div class="container mx-auto h-full flex flex-1 justify-center items-center bg-cover bg-black-300">
    <div class="w-full max-w-lg">
        <div class="leading-loose">
            <di class="max-w-xl m-4 p-10 rounded shadow-xl">
                <h1>Register</h1>

                @if (accountState.Value.IsLoading)
                {
                    <p>Processing...</p>
                }
                else if (!accountState.Value.IsSuccess && !string.IsNullOrEmpty(accountState.Value.Message))
                {
                    <p class="bg-red">Error: @accountState.Value.Message</p>
                }
                else if (!string.IsNullOrEmpty(accountState.Value.Message))
                {
                    <p class="bg-green">Success: @accountState.Value.Message</p>
                }

                <EditForm Model=@userModel OnValidSubmit=@HandleSubmit>
                    <DataAnnotationsValidator />

                    <div class="">
                        <label class="block text-sm text-gray-00" for="name">Name</label>
                        <InputText class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" placeholder="Your Name" id="name" aria-label="Name" @bind-Value="userModel.Name" />
                        <ValidationMessage For="@(() => userModel.Name)" />
                    </div>

                    <div class="">
                        <label class="block text-sm text-gray-00" for="Surname">Surname</label>
                        <InputText class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" placeholder="Your Surname" id="Surname" aria-label="Surname" @bind-Value="userModel.Surname" />
                        <ValidationMessage For="@(() => userModel.Surname)" />
                    </div>

                    <div class="">
                        <label class="block text-sm text-gray-00" for="email">Email</label>
                        <InputText class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" placeholder="Your Email" id="email" aria-label="Email" @bind-Value="userModel.Email" />
                        <ValidationMessage For="@(() => userModel.Email)" />
                    </div>

                    <div class="">
                        <label class="block text-sm text-gray-00" for="password">Password</label>
                        <InputText class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="password" id="password" aria-label="Password" @bind-Value="userModel.Password" />
                        <ValidationMessage For="@(() => userModel.Password)" />
                    </div>

                    <div class="">
                        <label class="block text-sm text-gray-00" for="isAdmin">Is Admin?</label>
                        <InputCheckbox id="isAdmin" aria-label="IsAdmin" @bind-Value="IsAdmin" />
                    </div>

                    <div class="mt-4">
                        <button disabled="@accountState.Value.IsLoading" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Register</button>
                        Already have an account ? <a class="inline-block right-0 align-baseline font-bold text-sm text-500 hover:text-blue-800" href="account/login">
                            Login
                        </a>
                    </div>
                </EditForm>
            </di>
        </div>
    </div>
</div>
